# Python for Data Science: Exploring Pandas

## Imports

In [3]:
# Built in libs
import time
import os 
import os.path
import sys
import re
import multiprocessing
import logging
import datetime
import distutils.core
import shutil
import linecache

# Standard libs
import pandas as pd
import numpy as np
import re

# SQLite DB
import sqlite3
import sqlalchemy

----

# To Display Error

In [4]:
def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print 'EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj)
    
try:
    # YOUR CODE...
    print 1/0
except:
    PrintException()

EXCEPTION IN (<ipython-input-4-303eb9f85a9b>, LINE 12 "print 1/0"): integer division or modulo by zero

----

# SQLite 3 DB

#### Reading Data from DB

In [7]:
def from_db(conn, table):
    return pd.read_sql('SELECT * FROM ' + table, con=conn)

connection = sqlite3.connect('Data/DB_Name.sqlite')
cur = connection.cursor()

# Reading a table from DB & storing it in a Dataframe
Data_frame = from_db(connection, 'TABLE_NAME')

#### Creating a DB

In [9]:
# Create a DB
conn = sqlite3.connect('Data/NEW_DB_NAME.sqlite')
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Processed (TimeReceived VARCHAR(100))')

# Create a table inside DB
try:
    Data_frame.to_sql(name="TABLE_NAME", con=conn, if_exists="replace", index=False) 
except Exception as e:
    print "Normal insertion failed, hence inserting everything as VARCHAR/TEXT!"
    for col in dataframe:
        dataframe[col] = dataframe[col].apply(lambda x: x.encode('ascii', 'ignore') if type(x) == unicode else x).astype(str)
    Data_frame.to_sql(name="TABLE_NAME", con=conn, if_exists="replace", index=False)

----

# Date time, time

    1. pd.to_datetime(string/series) - Convert anything to Timestamp, if format is not known
    2. strftime - Convert datetime to any desired format
    3. strptime - Convert str to exact same format datetime

#### Print Current time

In [35]:
print datetime.datetime.now()

2018-03-20 17:34:18.140000

#### 1. Convert 'Any' format  to Timestamp

In [55]:
type1 = '1/31/2018 3:15'                                   # pd.to_datetime()
type2 = '02-08-18 16:15'                                   # pd.to_datetime()
type3 = np.datetime64('2018-02-21T06:45:00.000000000')     # pd.to_datetime()
type4 = 1485880006                                         # datetime.datetime.fromtimestamp()

# Conversions Required...
print pd.to_datetime(type1)
print pd.to_datetime(type2)
print pd.to_datetime(type3)
print datetime.datetime.fromtimestamp(type4)

2018-01-31 03:15:00
2018-02-08 16:15:00
2018-02-21 06:45:00
2017-01-31 21:56:46

#### 2. Convert 'Datetime Format' to different format

In [65]:
print time.strftime("%d-%m-%Y %H:%M:%S")
print time.strftime("%d/%m/%Y %H:%M:%S")
print time.strftime("%Y-%m-%d %H:%M:%S")

20-03-2018 17:44:52
20/03/2018 17:44:52
2018-03-20 17:44:52

---

# List comprehension

In [27]:
l, normal, compreh   = [1,2], [], []

for i in l:
    for j in l:
        normal.append(i+j)

# [<exp> if-else First loop Second loop]    
compreh = [i+j for i in l for j in l]

#### Only if

In [11]:
l = [1,2,3,4,5]

[i for i in l if i%2 ==0 ]

[2, 4]

#### If else

In [17]:
l = [1,'A',3,4,5]

[i if i == 'A' else 'Digit' for i in l]

['Digit', 'A', 'Digit', 'Digit', 'Digit']

----

# Lambda

#### On a series: Applying single line exp

In [191]:
dff['Col_1'] = dff['Col_1'].apply(lambda x: <exp(x)> )

#### On a series: Applying Function

In [ ]:
def function(x):
    <exp>
    return <exp>

dff['Col_1'] = dff['Col_1'].apply(function)

---

# NAN Value Handling

#### Frequency of NAN

In [ ]:
Data_frame.isnull().sum()

#### Dataframe storing only NAN Rows

In [ ]:
Data_frame = Data_frame[Data_frame['COL_NAME'].isnull() == True]

#### Dataframe storing Not NAN Rows

In [ ]:
Data_frame = Data_frame[Data_frame['COL_NAME'].notnull() == True]

#### Dropping NAN

In [ ]:
# Dropping NAN from entire df
Data_frame.dropna().reset_index(drop=True)

# Dropping NAN from Particular Columns
Data_frame.dropna( subset = ['Col_1', 'Col_2'] ).reset_index(drop=True)

#### Fill NAN(blanks) values with some other value

In [ ]:
# Fill with Random Value
Data_frame['Column_Name'].fillna('B')

# Fill with Some Column Values
Data_frame['Column_Name'].fillna(df.col2, inplace=True)

----

# Slicing

#### Slicing dataframe based on multiple & or conditions

In [ ]:
Data_frame((Data_frame['Column_1'] == 'ABCD') | (Data_frame['Column_2'] != 0) & (Data_frame['Column_3'] == 'xyz'))

#### Setting a value to column in Sliced df

#  Sliced Dataframe -> df['Name']=='Fred'. Set values to entire 'Age' column where name = 'Fred' at once!
#

Data_frame.loc[ df['Name']=='Fred', 'Age'] = 25

Data_frame.loc[ df['Name'].str.contains('fred'), 'Age'] = 25

---

# Renaming & Re-arranging Columns

#### Renaming Column Names

In [72]:
df.columns = ['List of new column names']

#### Adding a Suffix to eevry column name

In [ ]:
df = df.add_suffix('X')

#### Re-indexing Column orders

In [ ]:
df.reindex(columns = ['Col4', 'Col1', 'Col2', 'Col3'])

---

# SUM

In [75]:
df = pd.DataFrame({'':[0.87569, 0.8723823, 0.821212],
                    'TimeReceived':['2017-09-29 12:00:00', '2017-09-29 12:00:00', '2017-09-29 12:00:00'],
                    'UniqueId':['1-1-1', '1-1-1', '1-1-1'],
                    'V1':[1, np.nan, 2, ],
                    'V2':[np.nan, np.nan, 10],
                  })
df

                    TimeReceived UniqueId   V1    V2
0  0.875690  2017-09-29 12:00:00    1-1-1  1.0   NaN
1  0.872382  2017-09-29 12:00:00    1-1-1  NaN   NaN
2  0.821212  2017-09-29 12:00:00    1-1-1  2.0  10.0

#### Sum of all Integer values across the entire ROW

In [76]:
df['SUM_of_integers_Only'] = df.sum(axis=1)
df

                    TimeReceived UniqueId   V1    V2  SUM_of_integers_Only
0  0.875690  2017-09-29 12:00:00    1-1-1  1.0   NaN              1.875690
1  0.872382  2017-09-29 12:00:00    1-1-1  NaN   NaN              0.872382
2  0.821212  2017-09-29 12:00:00    1-1-1  2.0  10.0             12.821212

---

# Unicode Handling

#### Column-wise: Convert Unicode values to "str"

In [ ]:
df['Column_name'] = df['Column_name'].apply(lambda x: x.enocde('ascii', 'ignore') if type(x) == unicode else x)

#### Single-wise: Convert a single value into both

In [79]:
s = u'Hello!'

# Unicode to str
s.encode('ascii')

# str to Unicode
unicode('Hello', 'ascii')

u'Hello'

---

# Directory and File Operations

#### Opening a File...

In [82]:
Path = 'Data\Sample_dir'

files = []
for f in os.listdir(Path):
    print 'Loading ' + f

Loading 1. Sample Data.xlsx
Loading 2. Sample Data.xlsx
Loading 3. Sample Data.xlsx
Loading 4. Sample Data.xlsx

#### Get current path

In [83]:
parent_path = os.getcwd()
parent_path

'D:\\Jupyter Notebooks\\! TEST !'

#### Make 1 or more folders

In [2]:
# Single dir
os.mkdir('New_folder')

In [ ]:
# Multiple sub-dirs
os.makedirs('New_folder\inside_folder\still_inside_folders\')

#### Rename a folder

In [ ]:
os.rename('New_folder', 'New_folder_OLD')

#### Remove a folder

In [ ]:
shutil.rmtree('New_folder_OLD')

#### List all files/folders

In [ ]:
os.listdir(os.getcwd())

#### Check if a dir exits or not?

In [ ]:
# current folder: where the python file resides
os.path.isdir(os.getcwd())

In [ ]:
# TO check for a Folder..
os.path.isdir('Data sets\Some_dir')

In [ ]:
# TO check for a file..
os.path.exists('Data sets\Some_file.xlsx')

#### Check if any file exits in a folder or it is empty

In [ ]:
for dir, sub_dirs, files in os.walk('Data'):
    if not files:
        print 'No files. The folder is empty!'

#### Snippet to create/remove/rename a folder

In [ ]:
if not os.path.exists('Exported Data'):
    os.mkdir('Exported Data')
else:
    os.rename('Exported Data', 'Exported Data_OLD')
    os.mkdir('Exported Data')
    
--------
#  OR  #
--------
    
if not os.path.isdir('db'):
    os.mkdir('db')
else:
    shutil.rmtree('db')

----

# COPY Folders/Files

In [ ]:
# Won't delete the existing folder and will add new files in it. For even same file-names, it will overwrite it.
distutils.dir_util.copy_tree('C:\Users\Username\Desktop\src', 'C:\Users\Username\Desktop\dest')

In [18]:
# First remove the existing folder & then this can copy.
shutil.rmtree('C:\Users\Username\Desktop\dest')
shutil.copytree('C:\Users\Username\Desktop\src', 'C:\Users\Username\Desktop\dest')

----

# FILE OPERATIONS - READ/WRITE

In [ ]:
# Read
file =  open('SW.txt', 'r').read()

# Write
words =  set(open('SW.txt').read().split())

---

# Split Strings

In [7]:
s = 'My name is Khan. Mr.Khan is NANambivert. NANis a good NANperson. .ee .exe'

In [157]:
s.split()

['My', 'name', 'is', 'Khan.', 'Mr.Khan', 'is', 'NANambivert.', '.ee', '.exe']

#### Split using a word

In [165]:
# Remove all 'NAN'
''.join(s.split('NAN'))

'My name is Khan. Mr.Khan is ambivert. is a good person. .ee .exe'

#### Split from front

In [153]:
s.split('.', 1)

['My name is Khan', ' Mr.Khan is NANambivert. .ee .exe']

#### Split from reverse(last)

In [154]:
s.rsplit('.', 1)

['My name is Khan. Mr.Khan is NANambivert. .ee ', 'exe']

----

# Adding (Merge, Contact, Intersection, Unique rows amongst 2 dfs)

In [174]:
df1 = pd.DataFrame({'A': [1,2,3],'B': [11,22,33],'C': [np.nan, 200, 300]})
df2 = pd.DataFrame({'A': [9,8,3],'B': [99,88,33],'C': [900, 800, 300]})
df3 = pd.DataFrame({'C': [1,2,3],'E': [11,22,33],'F': [np.nan, 200, 300]})

##### Normal Df

In [127]:
df1

   A   B      C
0  1  11    NaN
1  2  22  200.0
2  3  33  300.0

##### DF with same column names but with different values

In [128]:
df2

   A   B    C
0  9  99  900
1  8  88  800
2  3  33  300

##### Df with different column names

In [129]:
df3

   C   E      F
0  1  11    NaN
1  2  22  200.0
2  3  33  300.0

### Append: Union

In [130]:
df1.append(df2).reset_index(drop=True)

   A   B      C
0  1  11    NaN
1  2  22  200.0
2  3  33  300.0
3  9  99  900.0
4  8  88  800.0
5  3  33  300.0

### Merge: Union

In [131]:
pd.merge(df1, df2, how='outer', indicator=True)

   A   B      C      _merge
0  1  11    NaN   left_only
1  2  22  200.0   left_only
2  3  33  300.0        both
3  9  99  900.0  right_only
4  8  88  800.0  right_only

### Merge: Intersection

In [132]:
pd.merge(df1, df2, how='inner', indicator=True)

   A   B    C _merge
0  3  33  300   both

### Merge: Unique rows to one df

In [140]:
df_unique = pd.merge(df1, df2, how='outer', indicator=True)
df_unique[df_unique['_merge'] == 'right_only']

   A   B      C      _merge
3  9  99  900.0  right_only
4  8  88  800.0  right_only

### Concat: Union (along rows)

In [141]:
pd.concat([df1, df2], axis=0)

   A   B      C
0  1  11    NaN
1  2  22  200.0
2  3  33  300.0
0  9  99  900.0
1  8  88  800.0
2  3  33  300.0

### Concat: Union (along columns)

In [144]:
pd.concat([df1, df2], axis=1)

   A   B      C  A   B    C
0  1  11    NaN  9  99  900
1  2  22  200.0  8  88  800
2  3  33  300.0  3  33  300

---

=============================================================================================================